<div class="landing">
  <div class="container-fluid">
    <div class='row'>
      <div class="col-md-6 left-card">
        <%= image_tag "phone2.png", class: "phone" %>
      </div>

      <div class="col-md-6 right-card">
        <%= image_tag "gustave.svg", class: "logo" %>
        <h1 class="punchline">Gustave,<br>votre sommelier virtuel.</h1>

        <div class="phrase"> </div>

        <p class="newsletter-sentence">Soyez les premiers au courant de la sortie de Gustave.</p>

        <%= simple_form_for @user, :url => 'pages#create', :method => :post do |f| %>
          <%= f.input :first_name, required: true, label: false, error: 'Ce champ ne peut être vide', placeholder: 'Prénom', input_html: { class: 'form-newsletter', } %>
          <%= f.input :last_name, label: false, required: true, placeholder: 'Nom' %>
          <%= f.input :email, label: false, required: true, placeholder: 'Votre e-mail' %>
          <div class="text-center">
            <%= f.button :submit, "S'inscrire" %>
          </div>
          <% if flash[:success] %>
            <div class="success congratz"><%= flash[:success] %></div>
          <% end %>
        <% end %>


          <div class="contact">
          <%= link_to 'Contactez-nous', '#' %> |
          <%= link_to 'Partenaires', 'http://www.platsnetvins.com/', target: "_blank" %> |
          <%= link_to 'Le Wagon', 'https://www.lewagon.com/', target: "_blank" %>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div class="nav">
  <div><p></p></div>
</div> -->


