<div class="col-md-4 col-xs-10 test">
  <div class="cards flip-container">
    <div class="flipper" id=<%= meal.id %>>
      <div class="front">
        <div class="pictures-container">
          <div class="picture-left" style="background-image: url('<%= image_url(meal.wine.picture) %>')">

          </div>
          <div class="picture-right"  style="background-image: url('<%= meal.dish.picture %>')"></div>
        </div>
        <div class="content-container">
          <h2 class="wine-title"><%= meal.wine.nom_vin %></h2>
          <p> <h5><i class="fa fa-cutlery" aria-hidden="true"></i> <%= meal.dish.name.upcase %></h5></p>
          <span>
            <p><strong>Région :</strong> <%= meal.wine.nom_region %></p>
            <i style="background-color: red;"></i>
          </span>
          <p>

            <strong>Description :</strong> <%= truncate(WineDescription.run(meal.wine.nom_vin)[0]  + WineDescription.run(meal.wine.nom_vin)[1], length: 82) %>.
          </p>
          <p><strong>Pays :</strong> France</p>
          <p><strong>Prix :</strong> <% rand(1..3).times do %> <i class="fa fa-eur" aria-hidden="true"></i><% end %></p>
        </div>
          <% if meal.rating.nil? %>
            <button class="card-animations btn btn-primary btn-lg btn-block review-style">  Notez cette association
            </button>
          <% else %>
            <p class="btn btn-primary btn-lg btn-block voted">
              <% meal.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
              <% (5 - meal.rating).times do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% end %>
            </p>
          <% end %>
      </div>
      <div class="back">
        <p class="review-intro-sentence">
          Dites-nous si vous avez apprécié le <%= meal.wine.nom_vin %> avec votre <%= meal.dish.name%>.
        </p>
        <p class="review-title">Notation :</p>
        <%= form_for meal, :url => meal_path(meal), method: :patch, class: "rating"  do |f| %>
          <fieldset>
            <span class="star-cb-group">
              <input type="radio" id="<%= meal.id%>-rating-5" name="rating" value="5" />
              <label for="<%= meal.id%>-rating-5">5</label>
              <input type="radio" id="<%= meal.id%>-rating-4" name="rating" value="4" />
              <label for="<%= meal.id%>-rating-4">4</label>
              <input type="radio" id="<%= meal.id%>-rating-3" name="rating" value="3" />
              <label for="<%= meal.id%>-rating-3">3</label>
              <input type="radio" id="<%= meal.id%>-rating-2" name="rating" value="2" />
              <label for="<%= meal.id%>-rating-2">2</label>
              <input type="radio" id="<%= meal.id%>-rating-1" name="rating" value="1" />
              <label for="<%= meal.id%>-rating-1">1</label>
              <input type="radio" id="<%= meal.id%>-rating-0" name="rating" value="0" class="star-cb-clear" />
              <label for="<%= meal.id%>-rating-0">0</label>
            </span>
          </fieldset>
          <%= f.submit "Valider notation", class: "btn btn-primary btn-lg btn-block review-style" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
